.form-item-search-categories-name,
.form-item-search-contacts-name,
.form-item-search-contacts-by-category-select,
.form-item-search-messages-name,
.form-item-search-messages-by-category-select,
.form-item-search-messages-by-contact-select {
  display: inline;
}

#edit-fieldset-global-options,
#edit-fieldset-message-options {
  float: left;
  margin-right: 10px;
	width: 48%;
}

.form-item-search-messages-date-from,
.form-item-search-messages-date-to{
  clear: both;
  display: inline;
  float: left;
}

.data_search_from_button,
.data_search_to_button {
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

.form-item-search-messages-date-from label,
.form-item-search-messages-date-to label {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 50px;
}

#edit-search-messages-date,
#edit-reset-messages-date {
  float: left;
  margin-top: 5px;
}
