.spider_contacts_theme_global_fielset,
.spider_contacts_theme_cells_page_options_fielset,
.spider_contacts_theme_list_page_options_fielset,
.spider_contacts_theme_product_page_options_fielset {
  float: left;
  margin-right: 10px;
	width: 255px;
}

.spider_contacts_theme_select_fieldset {
  margin: 0;
  padding: 0;
}
